(edif memristive_and
  (edifversion 2 0 0)
  (edifLevel 0)
  (keywordmap (keywordlevel 0))
(status
 (written
  (timeStamp 2023 02 20 14 00 56)
  (program "Vivado" (version "2019.1"))
  (comment "Built on 'Fri May 24 14:47:09 MDT 2019'")
  (comment "Built by 'xbuild'")
 )
)
  (Library hdi_primitives
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell IBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell OBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell INV (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface
         (port I (direction INPUT))
         (port O (direction OUTPUT))
       )
     )
   )
  )
  (Library work
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell memristor (celltype GENERIC)
     (view memristor (viewtype NETLIST)
       (interface 
        (port in (direction INOUT))
        (port out (direction INOUT))
       )
     )
   )
   (cell memristive_and (celltype GENERIC)
     (view memristive_and (viewtype NETLIST)
       (interface 
        (port a (direction INPUT))
        (port b (direction INPUT))
        (port out (direction OUTPUT))
       )
       (contents
         (instance a_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance b_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance final (viewref memristor (cellref memristor (libraryref work)))
           (property black_box (string "1"))
         )
         (instance memA (viewref memristor (cellref memristor (libraryref work)))
           (property black_box (string "1"))
         )
         (instance memB (viewref memristor (cellref memristor (libraryref work)))
           (property black_box (string "1"))
         )
         (instance out_OBUF_inst (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (net a (joined
          (portref I (instanceref a_IBUF_inst))
          (portref a)
          )
         )
         (net a_IBUF (joined
          (portref O (instanceref a_IBUF_inst))
          (portref in (instanceref memA))
          )
         )
         (net b (joined
          (portref I (instanceref b_IBUF_inst))
          (portref b)
          )
         )
         (net b_IBUF (joined
          (portref O (instanceref b_IBUF_inst))
          (portref in (instanceref memB))
          )
         )
         (net mid (joined
          (portref in (instanceref final))
          (portref out (instanceref memA))
          (portref out (instanceref memB))
          )
         )
         (net out (joined
          (portref O (instanceref out_OBUF_inst))
          (portref out)
          )
         )
         (net out_OBUF (joined
          (portref I (instanceref out_OBUF_inst))
          (portref out (instanceref final))
          )
         )
       )
     )
   )
  )
(comment "Reference To The Cell Of Highest Level")

  (design memristive_and
    (cellref memristive_and (libraryref work))
    (property XLNX_PROJ_DIR (string "/home/ivris/memrist-pim"))
    (property part (string "xc7k70tfbv676-1"))
  )
)
